body
{
	font-family: sans-serif;
	margin: 0;
}

a
{
	color: rgb(0,0,240);
	text-decoration: none;
}

a:hover
{
	color: rgb(32,32,255);
	text-decoration: underline;
}

#layout-table
{
	width: 100%;
	margin: 1ex;
}

#layout-top-left,
#layout-middle-left,
#layout-bottom-left
{
	width: 10%;
	min-width: 250px;
}

#layout-top-center,
#layout-middle-center,
#layout-bottom-center
{
}

#layout-top-right,
#layout-middle-right,
#layout-bottom-right
{
	width: 10%;
	min-width: 300px;
}

#layout-middle td
{
	vertical-align: top;
}

#layout-middle-center h1,
#layout-middle-center h2,
#layout-middle-center h3
{
	clear: both;
}

#logo-canvas
{
	display: block;
	text-decoration: none;
	color: black;
}

#logo-canvas h1
{
	margin: 0;
}

#logo-subscript
{
	font-size: 90%;
	font-style: italic;
}

#search-form
{
	position: relative;
}

#search-suggest
{
	position: absolute;
	background-color: rgba(255,255,255,.8);
	margin: 0;
	padding: 0.5ex;
	border: 1px solid black;
	list-style: none;
}

#search-suggest ul.instance_list
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#search-suggest li
{
	margin: 0;
	padding: 0;
}

#search-suggest a
{
	display: block;
	margin: 0;
	padding: 0;
	color: #2d6195;
	background-color: transparent;
}

#search-suggest li.instance a
{
	padding-left: 1em;
}

#search-suggest a:hover
{
	color: white;
	background-color: #408dd8;
}

#search-output ul.graph_list
{
	margin: 0;
	padding: 1ex;
}

#search-output li.graph
{
	display: block;
	border: 1px solid gray;
	margin-top: 1ex;

	background-color: rgb(245,245,255);
}

#search-output ul.instance_list
{
	margin: 0;
	padding: 1ex;
	border-top: 1px solid gray;

	background-color: rgb(252,252,252);
}

#search-output li.instance
{
	display: block;

	font-size: 90%;
}

.breadcrump
{
	font-size: 90%;
	margin: 1ex 0 1ex 0;
	padding: 0 0 0 2em;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	background-color: rgb(252,252,252);
}

.graph-img
{
	position: relative;
	float: left;
	clear: both;
}

div.graph-img div.graph-buttons
{
	display: none;
}

div.graph-img:hover div.graph-buttons
{
	display: block;
}

.graph-img .graph-buttons.navigation
{
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.graph-img .graph-buttons.presets
{
	position: absolute;
	right: 5px;
	top: 5px;
}

.graph-buttons .graph-button
{
	width: 1em;
	height: 1em;
	border: 1px solid gray;
	text-align: center;
	background-color: rgba(255,255,255,.8);
	color: gray;
	cursor: pointer;
}

.graph-buttons div.graph-button:hover
{
	border: 1px solid black;
	background-color: white;
	color: black;
}

.graph-buttons.navigation .graph-button
{
	float: left;
	margin-left: 1px;
}

.graph-buttons.presets .graph-button
{
	margin-bottom: 1px;
}

div.footer
{
	margin-left: auto;
	margin-right: auto;
	padding: 0 1em;
	border-top: 1px solid gray;
	font-size: 80%;
	font-style: italic;
	text-align: right;
}
