body
{
	font-family: sans-serif;
}

#layout-table
{
	width: 100%;
}

#layout-top-left,
#layout-middle-left,
#layout-bottom-left
{
	width: 10%;
	min-width: 250px;
}

#layout-top-center,
#layout-middle-center,
#layout-bottom-center
{
}

#layout-top-right,
#layout-middle-right,
#layout-bottom-right
{
	width: 10%;
	min-width: 300px;
}

#layout-middle td
{
	vertical-align: top;
}

ul.graph_list
{
	margin: 0;
	padding: 1ex;
}

li.graph
{
	display: block;
	border: 1px solid gray;
	margin-top: 1ex;

	background-color: rgb(245,245,255);
}

ul.instance_list
{
	margin: 0;
	padding: 1ex;
	border-top: 1px solid gray;

	background-color: rgb(252,252,252);
}

li.instance
{
	display: block;

	font-size: 90%;
}
